In [ ]:
import pandas as pd
import numpy as np

# New Section

In [1]:
pd.read_csv("/content/Dados_Desafio2.csv")

NameError: ignored

In [ ]:
data = [["azul", 7], ["amarelo", 13], ["verde", 25]]
index = ["a", "b","c"]
columns = ["cor", "Número"]
cores = pd.DataFrame(
    data = data,
    index = index,
    columns = columns
    )
print(cores)

       cor  Número
a     azul       7
b  amarelo      13
c    verde      25

In [ ]:
data = [[1.88, 90], [1.79, 79], [1.67, 72]]
index = ["Alberto", "Bernardo","Carlos"]
columns = ["Altura", "Peso"]
data_altura_peso = pd.DataFrame(
    data = data,
    index = index,
    columns = columns
    )
print(data_altura_peso)

          Altura  Peso
Alberto     1.88    90
Bernardo    1.79    79
Carlos      1.67    72

In [ ]:
import pandas as pd
pd.read_csv("/content/sample_data/Datas.csv")

In [ ]:

df = pd.read_csv("/content/sample_data/Datas.csv", sep=";")
df

,location,date_1,date_2,date_3,date_4,variant,num_sequences,perc_sequences,num_sequences_total
0,Angola,06/07/2020,07/06/2020,06/07/2020 00:00,06/07/2020 00:00:00.0000000,Alpha,0,0.0,3.0
1,Angola,06/07/2020,07/06/2020,06/07/2020 00:00,06/07/2020 00:00:00.0000000,B.1.1.277,0,0.0,3.0
2,Angola,06/07/2020,07/06/2020,06/07/2020 00:00,06/07/2020 00:00:00.0000000,B.1.1.302,0,0.0,3.0
3,Angola,06/07/2020,07/06/2020,06/07/2020 00:00,06/07/2020 00:00:00.0000000,B.1.1.519,0,0.0,3.0
4,Angola,06/07/2020,07/06/2020,06/07/2020 00:00,06/07/2020 00:00:00.0000000,B.1.160,0,0.0,3.0
...,...,...,...,...,...,...,...,...,...
45579,Kazakhstan,23/08/2021,08/23/2021,23/08/2021 00:00,23/08/2021 00:00:00.0000000,B.1.1.519,0,0.0,93.0
45580,Kazakhstan,23/08/2021,08/23/2021,23/08/2021 00:00,23/08/2021 00:00:00.0000000,B.1.160,0,0.0,93.0
45581,Kazakhstan,23/08/2021,08/23/2021,23/08/2021 00:00,23/08/2021 00:00:00.0000000,B.1.177,0,0.0,93.0
45582,Kazakhstan,23/08/2021,08/23/2021,23/08/2021 00:00,23/08/2021 00:00:00.0000000,B.1.221,0,0.0,93.0
45583,Kazakhstan,23/08/2021,08/23/2021,23/08/2021 00:00,23/08/2021 00:00:00.0000000,B.1.258,0,NaN,NaN

In [ ]:
df.dtypes

location                object
date_1                  object
date_2                  object
date_3                  object
date_4                  object
variant                 object
num_sequences            int64
perc_sequences         float64
num_sequences_total    float64
dtype: object

In [ ]:
df = pd.read_csv("/content/sample_data/Datas.csv", sep=";",
parse_dates = ["date_1", "date_2", "date_3", "date_4"]
)
df

,location,date_1,date_2,date_3,date_4,variant,num_sequences,perc_sequences,num_sequences_total
0,Angola,2020-06-07,2020-07-06,2020-06-07,2020-06-07,Alpha,0,0,3
1,Angola,2020-06-07,2020-07-06,2020-06-07,2020-06-07,B.1.1.277,0,0,3
2,Angola,2020-06-07,2020-07-06,2020-06-07,2020-06-07,B.1.1.302,0,0,3
3,Angola,2020-06-07,2020-07-06,2020-06-07,2020-06-07,B.1.1.519,0,0,3
4,Angola,2020-06-07,2020-07-06,2020-06-07,2020-06-07,B.1.160,0,0,3
...,...,...,...,...,...,...,...,...,...
100411,Zimbabwe,2021-01-11,2021-11-01,2021-01-11,2021-01-11,Omicron,0,0,6
100412,Zimbabwe,2021-01-11,2021-11-01,2021-01-11,2021-01-11,S:677H.Robin1,0,0,6
100413,Zimbabwe,2021-01-11,2021-11-01,2021-01-11,2021-01-11,S:677P.Pelican,0,0,6
100414,Zimbabwe,2021-01-11,2021-11-01,2021-01-11,2021-01-11,others,0,0,6
100415,Zimbabwe,2021-01-11,2021-11-01,2021-01-11,2021-01-11,non_who,0,0,6

In [ ]:
df.dtypes

location                       object
date_1                 datetime64[ns]
date_2                 datetime64[ns]
date_3                 datetime64[ns]
date_4                 datetime64[ns]
variant                        object
num_sequences                   int64
perc_sequences                  int64
num_sequences_total             int64
dtype: object

In [ ]:
df = pd.read_csv("/content/sample_data/Datas.csv", sep=";",
parse_dates = ["date_1", "date_2", "date_3", "date_4"],
dayfirst = True
)
df

,location,date_1,date_2,date_3,date_4,variant,num_sequences,perc_sequences,num_sequences_total
0,Angola,2020-07-06,2020-06-07,2020-07-06,2020-07-06,Alpha,0,0,3
1,Angola,2020-07-06,2020-06-07,2020-07-06,2020-07-06,B.1.1.277,0,0,3
2,Angola,2020-07-06,2020-06-07,2020-07-06,2020-07-06,B.1.1.302,0,0,3
3,Angola,2020-07-06,2020-06-07,2020-07-06,2020-07-06,B.1.1.519,0,0,3
4,Angola,2020-07-06,2020-06-07,2020-07-06,2020-07-06,B.1.160,0,0,3
...,...,...,...,...,...,...,...,...,...
100411,Zimbabwe,2021-11-01,2021-01-11,2021-11-01,2021-11-01,Omicron,0,0,6
100412,Zimbabwe,2021-11-01,2021-01-11,2021-11-01,2021-11-01,S:677H.Robin1,0,0,6
100413,Zimbabwe,2021-11-01,2021-01-11,2021-11-01,2021-11-01,S:677P.Pelican,0,0,6
100414,Zimbabwe,2021-11-01,2021-01-11,2021-11-01,2021-11-01,others,0,0,6
100415,Zimbabwe,2021-11-01,2021-01-11,2021-11-01,2021-11-01,non_who,0,0,6

In [ ]:
import datetime as dt

In [ ]:
df = pd.read_csv("/content/sample_data/Datas.csv", sep=";",
parse_dates = ["date_1", "date_3"],
dayfirst = True
)
df

,location,date_1,date_2,date_3,date_4,variant,num_sequences,perc_sequences,num_sequences_total
0,Angola,2020-07-06,07/06/2020,2020-07-06,06/07/2020 00:00:00.0000000,Alpha,0,0,3
1,Angola,2020-07-06,07/06/2020,2020-07-06,06/07/2020 00:00:00.0000000,B.1.1.277,0,0,3
2,Angola,2020-07-06,07/06/2020,2020-07-06,06/07/2020 00:00:00.0000000,B.1.1.302,0,0,3
3,Angola,2020-07-06,07/06/2020,2020-07-06,06/07/2020 00:00:00.0000000,B.1.1.519,0,0,3
4,Angola,2020-07-06,07/06/2020,2020-07-06,06/07/2020 00:00:00.0000000,B.1.160,0,0,3
...,...,...,...,...,...,...,...,...,...
100411,Zimbabwe,2021-11-01,11/01/2021,2021-11-01,01/11/2021 00:00:00.0000000,Omicron,0,0,6
100412,Zimbabwe,2021-11-01,11/01/2021,2021-11-01,01/11/2021 00:00:00.0000000,S:677H.Robin1,0,0,6
100413,Zimbabwe,2021-11-01,11/01/2021,2021-11-01,01/11/2021 00:00:00.0000000,S:677P.Pelican,0,0,6
100414,Zimbabwe,2021-11-01,11/01/2021,2021-11-01,01/11/2021 00:00:00.0000000,others,0,0,6
100415,Zimbabwe,2021-11-01,11/01/2021,2021-11-01,01/11/2021 00:00:00.0000000,non_who,0,0,6

In [ ]:
df["date_2"].map(lambda x: dt.datetime.strptime(x, "%m/%d/%Y"))
df["date_4"] = df["date_4"].map(lambda x: dt.datetime.strptime(x[0:-1], "%d/%m/%Y %H:%M:%S.%f"))

In [ ]:
df

,location,date_1,date_2,date_3,date_4,variant,num_sequences,perc_sequences,num_sequences_total
0,Angola,2020-07-06,07/06/2020,2020-07-06,2020-07-06,Alpha,0,0,3
1,Angola,2020-07-06,07/06/2020,2020-07-06,2020-07-06,B.1.1.277,0,0,3
2,Angola,2020-07-06,07/06/2020,2020-07-06,2020-07-06,B.1.1.302,0,0,3
3,Angola,2020-07-06,07/06/2020,2020-07-06,2020-07-06,B.1.1.519,0,0,3
4,Angola,2020-07-06,07/06/2020,2020-07-06,2020-07-06,B.1.160,0,0,3
...,...,...,...,...,...,...,...,...,...
100411,Zimbabwe,2021-11-01,11/01/2021,2021-11-01,2021-11-01,Omicron,0,0,6
100412,Zimbabwe,2021-11-01,11/01/2021,2021-11-01,2021-11-01,S:677H.Robin1,0,0,6
100413,Zimbabwe,2021-11-01,11/01/2021,2021-11-01,2021-11-01,S:677P.Pelican,0,0,6
100414,Zimbabwe,2021-11-01,11/01/2021,2021-11-01,2021-11-01,others,0,0,6
100415,Zimbabwe,2021-11-01,11/01/2021,2021-11-01,2021-11-01,non_who,0,0,6