In [10]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv("/content/Dados - Desafio 2.csv", sep=";")

In [ ]:
df

,ID,dteday,hr,weathersit,temp,atemp,hum,windspeed,season,casual
0,0,01/01/2011,0,"Clear, Few clouds, Partly cloudy, Partly cloudy","0,24","0,2879","0,81",0,NaN,3
1,10005,26/02/2012,22,"Clear, Few clouds, Partly cloudy, Partly cloudy","0,3","0,2879","0,42","0,2239",NaN,3
2,10007,27/02/2012,0,"Clear, Few clouds, Partly cloudy, Partly cloudy","0,26","0,2424","0,6","0,2537",NaN,2
3,10012,27/02/2012,5,"Clear, Few clouds, Partly cloudy, Partly cloudy","0,22","0,2273","0,8","0,1343",NaN,0
4,10018,27/02/2012,11,"Clear, Few clouds, Partly cloudy, Partly cloudy","0,36","0,3333","0,43","0,2537",NaN,11
...,...,...,...,...,...,...,...,...,...,...
6426,9986,26/02/2012,3,"Clear, Few clouds, Partly cloudy, Partly cloudy","0,24","0,2273","0,41","0,194",NaN,0
6427,9988,26/02/2012,5,"Clear, Few clouds, Partly cloudy, Partly cloudy","0,22","0,2121","0,44","0,2239",NaN,0
6428,9995,26/02/2012,12,"Clear, Few clouds, Partly cloudy, Partly cloudy","0,3","0,303","0,39","0,1343",NaN,49
6429,9998,26/02/2012,15,"Clear, Few clouds, Partly cloudy, Partly cloudy","0,36","0,3485","0,29",0,NaN,72
6430,9999,26/02/2012,16,"Clear, Few clouds, Partly cloudy, Partly cloudy","0,36","0,3333","0,32","0,2537",NaN,64

In [8]:
df.dtypes

ID              int64
dteday         object
hr              int64
weathersit     object
temp           object
atemp          object
hum            object
windspeed      object
season        float64
casual          int64
dtype: object

In [25]:
df = pd.read_csv("/content/Dados - Desafio 2.csv", sep=";",
     parse_dates = ["dteday"], decimal = ","
)

In [26]:
df.dtypes

ID                     int64
dteday        datetime64[ns]
hr                     int64
weathersit            object
temp                 float64
atemp                float64
hum                  float64
windspeed            float64
season               float64
casual                 int64
dtype: object

In [27]:
df

,ID,dteday,hr,weathersit,temp,atemp,hum,windspeed,season,casual
0,0,2011-01-01,0,"Clear, Few clouds, Partly cloudy, Partly cloudy",0.24,0.2879,0.81,0.0000,NaN,3
1,10005,2012-02-26,22,"Clear, Few clouds, Partly cloudy, Partly cloudy",0.30,0.2879,0.42,0.2239,NaN,3
2,10007,2012-02-27,0,"Clear, Few clouds, Partly cloudy, Partly cloudy",0.26,0.2424,0.60,0.2537,NaN,2
3,10012,2012-02-27,5,"Clear, Few clouds, Partly cloudy, Partly cloudy",0.22,0.2273,0.80,0.1343,NaN,0
4,10018,2012-02-27,11,"Clear, Few clouds, Partly cloudy, Partly cloudy",0.36,0.3333,0.43,0.2537,NaN,11
...,...,...,...,...,...,...,...,...,...,...
6426,9986,2012-02-26,3,"Clear, Few clouds, Partly cloudy, Partly cloudy",0.24,0.2273,0.41,0.1940,NaN,0
6427,9988,2012-02-26,5,"Clear, Few clouds, Partly cloudy, Partly cloudy",0.22,0.2121,0.44,0.2239,NaN,0
6428,9995,2012-02-26,12,"Clear, Few clouds, Partly cloudy, Partly cloudy",0.30,0.3030,0.39,0.1343,NaN,49
6429,9998,2012-02-26,15,"Clear, Few clouds, Partly cloudy, Partly cloudy",0.36,0.3485,0.29,0.0000,NaN,72
6430,9999,2012-02-26,16,"Clear, Few clouds, Partly cloudy, Partly cloudy",0.36,0.3333,0.32,0.2537,NaN,64

In [28]:
pd.isna(df["season"]).sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of 0       True
1       True
2       True
3       True
4       True
        ...
6426    True
6427    True
6428    True
6429    True
6430    True
Name: season, Length: 6431, dtype: bool>

In [29]:
df.loc[df["weathersit"] == "Clear, Few clouds, Partly cloudy, Partly cloudy", "season"] = "springer"
df.loc[df["weathersit"] == "Mist + Cloudy, Mist + Broken clouds, Mist + Few clouds, Mist", "season"] = "summer"
df.loc[df["weathersit"] == "Heavy Rain + Ice Pallets + Thunderstorm + Mist, Snow + Fog", "season"] = "winter"
df.loc[df["weathersit"] == "Light Snow, Light Rain + Thunderstorm + Scattered clouds, Light Rain + Scattered clouds", "season"] = "fall"

In [30]:
df

,ID,dteday,hr,weathersit,temp,atemp,hum,windspeed,season,casual
0,0,2011-01-01,0,"Clear, Few clouds, Partly cloudy, Partly cloudy",0.24,0.2879,0.81,0.0000,springer,3
1,10005,2012-02-26,22,"Clear, Few clouds, Partly cloudy, Partly cloudy",0.30,0.2879,0.42,0.2239,springer,3
2,10007,2012-02-27,0,"Clear, Few clouds, Partly cloudy, Partly cloudy",0.26,0.2424,0.60,0.2537,springer,2
3,10012,2012-02-27,5,"Clear, Few clouds, Partly cloudy, Partly cloudy",0.22,0.2273,0.80,0.1343,springer,0
4,10018,2012-02-27,11,"Clear, Few clouds, Partly cloudy, Partly cloudy",0.36,0.3333,0.43,0.2537,springer,11
...,...,...,...,...,...,...,...,...,...,...
6426,9986,2012-02-26,3,"Clear, Few clouds, Partly cloudy, Partly cloudy",0.24,0.2273,0.41,0.1940,springer,0
6427,9988,2012-02-26,5,"Clear, Few clouds, Partly cloudy, Partly cloudy",0.22,0.2121,0.44,0.2239,springer,0
6428,9995,2012-02-26,12,"Clear, Few clouds, Partly cloudy, Partly cloudy",0.30,0.3030,0.39,0.1343,springer,49
6429,9998,2012-02-26,15,"Clear, Few clouds, Partly cloudy, Partly cloudy",0.36,0.3485,0.29,0.0000,springer,72
6430,9999,2012-02-26,16,"Clear, Few clouds, Partly cloudy, Partly cloudy",0.36,0.3333,0.32,0.2537,springer,64

In [31]:
pd.isna(df["season"]).sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of 0       False
1       False
2       False
3       False
4       False
        ...
6426    False
6427    False
6428    False
6429    False
6430    False
Name: season, Length: 6431, dtype: bool>

In [38]:
df.isnull().sum()

ID             0
dteday         8
hr             0
weathersit    10
temp          11
atemp          3
hum            5
windspeed      5
season        10
casual         0
dtype: int64

In [48]:
df['temp'].fillna(df['temp'].mean(), inplace = True)
df['atemp'].fillna(df['atemp'].mean(), inplace = True)
df['hum'].fillna(df['hum'].mean(), inplace = True)
df['windspeed'].fillna(df['windspeed'].mean(), inplace = True)

In [49]:
df.isnull().sum()

ID             0
dteday         8
hr             0
weathersit    10
temp           0
atemp          0
hum            0
windspeed      0
season        10
casual         0
dtype: int64

In [54]:
df.dropna(axis=0, inplace = True, how = 'any')

In [55]:
df.isnull().sum()

ID            0
dteday        0
hr            0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
season        0
casual        0
dtype: int64