In [1]:
#Importando as bibliotecas necessárias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from numpy import mean
import datetime

In [10]:
#Lendo o arquivo excel
df = pd.read_csv("/content/drive/MyDrive/1500/sp_air_quality.csv", sep=";")

In [11]:
df.isnull().sum()

Datetime          0
Station           0
Benzene     3259548
CO          2441510
PM10         650348
PM2,5       2386037
NO2         1465284
O3           736870
SO2         2644990
Toluene     3259790
TRS         3383630
dtype: int64

In [12]:
df

,Datetime,Station,Benzene,CO,PM10,"PM2,5",NO2,O3,SO2,Toluene,TRS
0,2013-05-08 01:00:00,Araçatuba,NaN,NaN,"30,0",NaN,NaN,"7,0",NaN,NaN,NaN
1,2013-05-08 02:00:00,Araçatuba,NaN,NaN,"30,0",NaN,NaN,"6,0",NaN,NaN,NaN
2,2013-05-08 03:00:00,Araçatuba,NaN,NaN,"31,0",NaN,NaN,"6,0",NaN,NaN,NaN
3,2013-05-08 04:00:00,Araçatuba,NaN,NaN,"31,0",NaN,NaN,"4,0",NaN,NaN,NaN
4,2013-05-08 05:00:00,Araçatuba,NaN,NaN,"32,0",NaN,NaN,"4,0",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
3445255,2020-09-09 20:00:00,Taubaté,NaN,NaN,32.0,38.0,4.0,51.0,NaN,NaN,NaN
3445256,2020-09-09 21:00:00,Taubaté,NaN,NaN,32.0,38.0,3.0,40.0,NaN,NaN,NaN
3445257,2020-09-09 22:00:00,Taubaté,NaN,NaN,32.0,38.0,4.0,35.0,NaN,NaN,NaN
3445258,2020-09-09 23:00:00,Taubaté,NaN,NaN,33.0,38.0,6.0,30.0,NaN,NaN,NaN
3445259,2020-09-09 00:00:00,Taubaté,NaN,NaN,33.0,38.0,6.0,24.0,NaN,NaN,NaN

In [14]:
df['Datetime'] = pd.to_datetime(df['Datetime'])

In [15]:
df.dtypes

Datetime    datetime64[ns]
Station             object
Benzene             object
CO                  object
PM10                object
PM2,5               object
NO2                 object
O3                  object
SO2                 object
Toluene             object
TRS                 object
dtype: object